<html lang="en-US" style="box-sizing: border-box;font-size: 62.5%;height: 100%;padding: 0rem;margin: 0rem;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>EduPrime recovery password</title>
</head>
<body style="font-size: 1.6rem;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;height: 100%;">
    <div style="background-color: white;width: 40rem;margin: auto;">
        <section style="background-color: #18A3C5;color: white;padding: 0.5rem 2rem;font-size: 1rem;">
            <h1>EduPrime</h1>
        </section>
        <section style="padding: 0rem 2rem;">
            <h3 style="font-size: 1.5rem;">Recover your password to get access to your EduPrime account</h3>
            <p style="font-size: 1rem;">If that sounds right <span style="color: #0499ED;font-weight: bold;">{0}</span>, you can enter new password by clicking on the button below.</p>
           {1}
        </section>
        <section style="padding: 0rem 2rem;padding-bottom: 0.5rem;font-size: 1rem;">
            <p>If you dont't request this email, there's nothing to worry about - you can safety ignore it.</p>
        </section>
    </div>
</body>
</html>